@font-face {font-family: 'Starjedi';src: url('fonte/Starjedi.ttf');
    font-weight: normal;font-style: normal;}

body{
    align-items: center;
    background-image: url("icone/star-wars-backgrounds.png");

}

#divnome{

    color: rgba(255, 255, 255, 0.952);
    font-size:larger;
    padding: 50px;

}

#btmenu{
    background-color:gold;
    border:solid 1px;
    border-radius:15px;
    width:150px;
    height:60px;
    color: #000000;
    font-family: 'Starjedi', sans-serif;
    text-align: center;
}

h1{
    text-align: center;
    color: #000000;
    font-family: 'Starjedi', sans-serif;
  }

table{
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.952);
    background-color: #000000;
}
#Menu{
    text-align: center;
    align-items: center;
    height: 60px;
    padding: 20px;

}
footer{
    text-align: center;
    padding: 10px;
    background-color: gold;
}
footer a {
    text-decoration: none;
    color: #000000;
    font-family: 'Starjedi', sans-serif;
}
h2{
    text-align: center;
    color: gold;
}

