@font-face {font-family: 'Starjedi';src: url('fonte/Starjedi.ttf');
    font-weight: normal;font-style: normal;}

body{
    background-image: url("icone/star-wars-backgrounds.png");

}


#btmenu{
    background-color:gold;
    border:solid 1px;
    border-radius:15px;
    width:150px;
    height:60px;
    color: #000000;
    font-family: 'Starjedi', sans-serif;
    text-align: center;
}

h1{
    text-align: center;
    color: #000000;
  font-family: 'Starjedi', sans-serif;
  }

.tabela{ 
    color: gold;
}

